/*
* Parts
*/
@import "parts/variables";
@import "parts/reset";


/*
*	Content
*/
.content  {
	position: relative;

	h1 {
		font-weight: 600;
		margin: -10px 0 0 -3px;
		font-size: 48px;
	    line-height: 50px;
	    letter-spacing: -1px;
	    cursor: default;

	    @media (--w768) {
	    	font-size: 64px;
	    	line-height: 70px;
	    	letter-spacing: 4px;
	    }
	}

	a {
		color: #fff;
		display: inline-block;
		border-bottom: 1px solid rgba(255,255,255,0.2);

		&:hover {
			border-bottom: 1px solid rgba(255,255,255,0.4);
			transition: all .2s;
		}
	}

	p {
		margin-bottom: 5px;
		font-size: 20px;
		line-height: 22px;

		@media (--w768) {
			font-size: 26px;
			line-height: 30px;
		}
	}

	&__links {
		margin-top: 25px;
		color: rgba(255, 255, 255, 0.4);

		a {
			position: relative;
			margin-right: 15px;

			@media (--w768) {
				margin-right: 26px;
			}

			&:before {
				content: "·";
				display: inline-block;
				width: 15px;
				position: absolute;
				left: -15px;
				font-size: 18px;
				text-align: center;
				color: rgba(255, 255, 255, 0.4);

				@media (--w768) {
					width: 26px;
					left: -26px;
					font-size: 26px;
				}
			}

			&:first-child:before {
				content: "";
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__subheader { 
		margin: 5px 0 25px;
		display: block;
		font-size: 18px; 
		opacity: .5;
		cursor: default;
	}
}

.content__logo {
	position: relative;
	width: 60px;
	margin-left: -30px;
	left: 50%;
	margin-top: 50px;

	@media (--w768) {
		display: block;
		position: absolute;
		left: auto;
		bottom: 50px;
		right: 50px;
		width: 300px;
		transform: none;
	}
}