doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        main.content
            h1(class="emerge" data-hold="200" data-effect="slide" ) Nick Marchenko
            span(class="content__subheader emerge" data-hold="400" data-effect="slide" ) Front-end developer
            
            p(class="emerge" data-hold="600" data-effect="slide"  ) 
                a(href="mailto:n30n1ck@gmail.com ") n30n1ck@gmail.com

            p(class="emerge" data-hold="800" data-effect="slide" ) 
                a(href="skype:n30n1ck add") n30n1ck

            p(class="content__links emerge" data-hold="1000" data-effect="slide" )
                a(href="https://github.com/neonick" target="_blank") Github
                a(href="https://twitter.com/neonick" target="_blank") Twitter
                a(href="https://facebook.com/n30n1ck" target="_blank") Facebook
            
        img(src="i/n.svg" class="content__logo emerge" data-hold="1200" data-effect="slide" )

    script(src="js/scripts.js")