doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        main.content
            h1 Nick Marchenko
            span(class="content__subheader") Front-end developer
            
            p E-mail: 
                a(href="mailto:n30n1ck@gmail.com") n30n1ck@gmail.com

            p Skype: 
                a(href="skype:n30n1ck add") n30n1ck

            p(class="content__links")
                a(href="https://github.com/neonick" target="_blank") Github
                a(href="https://twitter.com/neonick" target="_blank") Twitter
                a(href="https://facebook.com/n30n1ck" target="_blank") Facebook
            
        img(src="i/n.svg" class="content__logo")